*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
  width:1140px;
  margin:auto;
  position: relative;
}

@media screen and (max-width:992px){
  .container{
    width:100%;
    padding:20px;
  }
}